:root {
  --white: #FFFFFF;
  --lightBlue: #F6F8F9;
  --grey: #D8D8D8;
  --darkGrey: #7e858a;
  --black: #2C2E30;
  --blue: #37A8EE;
  --green: #00DCA4;
  --yellow: #F1C40F;
  --red: #e63949;
  --primaryButton: var(--blue);
  --secondayButton: var(--green);
  --transparentHeader: rgba(216, 216, 216, .8);
  --transparentBlack: rgba(0, 0, 0, .6);
  --spaceExtraSmall: 4px;
  --spaceSmall: 8px;
  --spaceMedium: 16px;
  --spaceLarge: 24px;
  --spaceExtraLarge: 32px;
  --spaceXExtraLarge: 40px;
  --spaceXXExtraLarge: 48px;
  --spaceXXXExtraLarge: 56px;
}

@font-face {
  font-family: 'glacial_indifference_bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
       url('../fonts/glacialindifference-bold-webfont.woff') format('woff'),
       url('../fonts/glacialindifference-bold-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'glacial_indifference_regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
       url('../fonts/glacialindifference-regular-webfont.woff') format('woff'),
       url('../fonts/glacialindifference-regular-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'glacial_indifference_italic';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/glacialindifference-italic-webfont.woff2') format('woff2'),
       url('../fonts/glacialindifference-italic-webfont.woff') format('woff'),
       url('../fonts/glacialindifference-italic-webfont.ttf') format('ttf');
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
}
header {
  width: 100%;
  padding: var(--spaceLarge) var(--spaceMedium);
  background-color: var(--grey);
  position: fixed;
}
header.transparent {
  background-color: var(--transparentHeader);
}
.header__wrapper,
.profile__wrapper,
.games__wrapper,
.data__wrapper,
.footer__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.header__wrapper {
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 150px;
}
.header__logo .st0{fill:#2C2E30;}
.header__logo .st1{fill:#00DCA4;}
.header__logo .st2{fill:#FF5C5B;}
.header__info p {
  font-family: 'glacial_indifference_bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .8rem;
  text-align: right;
}
.header__info p:last-child {
  font-family: 'glacial_indifference_italic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: var(--spaceExtraSmall);
}
.profile {
  width: 100%;
  padding: 90px var(--spaceMedium) 0;
}
.profile__wrapper {
  padding: var(--spaceXXExtraLarge) 0;
  flex-wrap: wrap;
}
.profile__information,
.profile__image,
.profile__data{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.profile__image {
  justify-content: center;
  margin-bottom: var(--spaceExtraLarge);
}
.profile__image img {
  width: 150px;
  border-radius: 50%;
  border: 1px solid var(--black)
}
.profile__data {
  display: flex;
}
.profile__data p,
.profile__data h2 {
  width: 100%;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  margin-bottom: var(--spaceSmall);
  text-align: center;
}
.profile__data h2 {
  font-size: 1.8rem;
}
.profile__about {
  display: none;
}
.games {
  background-color: var(--lightBlue);
  padding: var(--spaceXXXExtraLarge) var(--spaceMedium);
}
.games__wrapper {
  flex-wrap: wrap;
}
.games__descriptions,
.data__descriptions {
  width: 100%;
  margin-bottom: var(--spaceLarge);
}
.games__descriptions h1,
.data__descriptions h2,
.data__victories h3,
.data__matchs h4,
.data__history h5,
.data__time h6 {
  font-family: 'glacial_indifference_bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  margin-bottom: var(--spaceMedium);
  text-align: center;
}
.games__descriptions p,
.data__descriptions p {
  font-size: 1.1rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-bottom: var(--spaceLarge);
}
.games__select {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__tictac,
.game__fourinarow {
  border: 0;
  border-radius: 5px;
  background-color: var(--white);
  padding: var(--spaceSmall) var(--spaceLarge);
  font-size: 1.1rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
  cursor: pointer;
  transition: all .25s ease-in-out;
}
.game__tictac:hover,
.game__fourinarow:hover {
  background-color: var(--secondayButton);
  color: var(--white);
}
.game__tictac:hover:disabled,
.game__fourinarow:hover:disabled {
  background-color: var(--white);
  color: var(--black);
  cursor: default;
}
.game__tictac:disabled,
.game__fourinarow:disabled {
  cursor: default;
}
.game__tictac.game__button--active,
.game__fourinarow.game__button--active {
  background-color: var(--secondayButton);
  color: var(--white);
}
.game__tictac.game__button--active:disabled,
.game__fourinarow.game__button--active:disabled {
  background-color: var(--darkGrey);
  cursor: default;
}
.game__tictac.game__button--active:disabled:hover,
.game__fourinarow.game__button--active:disabled:hover {
  color: var(--white);
}
.games__box {
  width: 100%;
  margin-bottom: var(--spaceExtraLarge);
}
.games__arcade {
  width: 100%;
  height: auto;
  background-color: var(--white);
}
.games__arcadeplays {
  display: none;
}
.games__timeplays {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.games__plays p,
.games__time p {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
}
.games__plays p:first-child {
  font-family: 'glacial_indifference_bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  margin-bottom: var(--spaceMedium);
}
.games__time p {
  font-size: 1.2rem;
  margin-top: var(--spaceSmall);
}
.data {
  padding: var(--spaceXXXExtraLarge) var(--spaceMedium);
}
.data__wrapper {
  flex-wrap: wrap;
}
.data__players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.data__player {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.data__player p {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
  margin-bottom: var(--spaceLarge);
}
.data_percentage {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.data_percentage p:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--darkGrey);
  font-family: 'glacial_indifference_bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--white);
  font-size: 1rem;
  width: 50px;
  height: 60px;
}
.data_percentage p.success:first-child {
  background-color: var(--green);
}
.data_percentage p.danger:first-child {
  background-color: var(--red);
}
.data_percentage p.warning:first-child {
  background-color: var(--yellow);
}
.data_percentage p:last-child {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.data__matchsgrid,
.data__historygrid {
  display: flex;
  justify-content: center;
}
.data__matchresults,
.data__matchresults-four-in-a-row {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--darkGrey);
  margin-right: var(--spaceExtraSmall);
}
.data__matchresults_active {
  background-color: var(--darkGrey);
}
.data__historyresults,
.data__historyresults-four-in-a-row {
  width: 25px;
  height: 30px;
  border: 1px solid var(--darkGrey);
  margin: 0 var(--spaceExtraSmall);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
}
.data__victories,
.data__matchs,
.data__history {
  margin-bottom: var(--spaceXXExtraLarge);
}
.data__time {
  width: 100%;
}
.data__time p {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
}
footer {
  background-color: var(--lightBlue);
  padding: var(--spaceXXXExtraLarge) var(--spaceMedium);
}
.footer__wrapper {
  flex-wrap: wrap;
}
.footer__about,
.footer__contacts {
  margin-bottom: var(--spaceXXXExtraLarge);
  width: 100%;
}
.footer__about p,
.footer__contacts p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
  margin-bottom: var(--spaceLarge);
}
.footer__about p:first-child,
.footer__contacts p:first-child {
  font-size: 1.5rem;
  margin-bottom: var(--spaceExtraLarge);
}
.footer__socials {
  width: 100%;
}
.footer__socials p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
  margin-bottom: var(--spaceLarge);
}
.footer__social {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer__social a {
  margin-right: var(--spaceSmall);
}
.footer__social a:last-child {
  margin-right: 0;
}
.footer__social svg {
  width: 30px;
}
.footer__subscribe {
  display: flex;
  align-items: center;
  margin-top: var(--spaceMedium);
}
.footer__subscribe input {
  width: 80%;
  height: 40px;
  border: 1px solid var(--grey);
  border-right: 0px;
  padding: 0 var(--spaceSmall);
  font-size: 1rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
}
.footer__subscribe input::-webkit-input-placeholder {
  color: var(--darkGrey);
}
.footer__subscribe input:-ms-input-placeholder {
  color: var(--darkGrey);
}
.footer__subscribe input::placeholder {
  color: var(--darkGrey);
}
.footer__subscribe button {
  width: 20%;
  border: 0;
  background-color: var(--primaryButton);
  height: 40px;
  cursor: pointer;
  transition: all .25s ease-in-out;
}
.footer__subscribe button:hover {
  background-color: var(--blue);
}
.footer__subscribe button:disabled {
  background-color: var(--grey);
  cursor: default;
}
.footer__subscribe button svg {
  width: 25px;
  fill: var(--white);
}
.footer__left {
  width: 100%;
}


.game__tic__three_by_three__container,
.game__for_in_a_row__container {
  display: none;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.game__tic__three_by_three__container.active,
.game__for_in_a_row__container.active {
  display: flex;
}
.game__tic__three_by_three__cell {
  width: 33.33%;
  height: 166px;
  border: 1px solid var(--darkGrey);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .25s ease-in-out;
}
.game__tic__three_by_three__cell:hover {
  background-color: var(--grey);
}
.game__tic__three_by_three__cell.play--X {
  color: var(--blue);
}
.game__tic__three_by_three__cell.play--O {
  color: var(--green);
}
.game__tic__three_by_three__actions,
.game__for_in_row__actions {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--transparentBlack);
  align-items: center;
  justify-content: center;
  display: none;
}
.game__tic__three_by_three__actions.actions--active,
.game__for_in_row__actions.actions--active {
  display: flex;
}
.game__tic__three_by_three__reset,
.game__for_in_row__reset {
  border: 0;
  background-color: var(--green);
  padding: var(--spaceMedium) var(--spaceLarge);
  cursor: pointer;
  font-size: 1.3rem;
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .25s ease-in-out;
  color: var(--black);
}
.game__tic__three_by_three__reset:hover,
.game__for_in_row__reset:hover {
  background-color: var(--blue);
  color: var(--white);
}
.games__turn,
.games__winner {
  width: 100%;
  text-align: center;
}
.games__turn p,
.games__winner p {
  font-size: 1.7rem;
  font-family: 'glacial_indifference_bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .25s ease-in-out;
  color: var(--black);
  text-align: center;
  margin-bottom: var(--spaceLarge);
}
.games__winner p {
  align-items: center;
  justify-content: center;
  display: none;
}
.games__winner p.active {
  display: flex;
}
.games__winner p svg {
  width: 25px;
  margin-right: var(--spaceSmall);
}
.games__ruler {
  width: 100%;
  margin-bottom: var(--spaceSmall);
  display: flex;
  justify-content: center;
}
.games__ruler p {
  border-left: 5px solid var(--grey);
  font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
  font-size: 1.1rem;
  padding-left: var(--spaceSmall);
}
.games__trophy {
  width: 100%;
  display: none;
  justify-content: center;
}
.games__trophy svg {
  width: 25px;
}
.games__trophy.active {
  display: flex;
}
.game__for_in_a_row__container {
  height: 100%;
  align-items: center;
  padding: var(--spaceMedium) 0;
}
.game__for_in_a_row__column {
  width: 12%;
	display: inline-block;
  margin: 0 1%;
}
.game__for_in_a_row__column,
.circle {
  transition: all .25s ease-in-out;
}
.game__for_in_a_row__column:hover .circle.free{
	background-color: var(--lightBlue);
}
.game__for_in_a_row__column .circle.free {
	background-color: var(--white);
}
.game__for_in_a_row__column .circle.red {
	background-color: var(--red);
}
.game__for_in_a_row__column .circle.yellow {
	background-color: var(--yellow);
}
.circle__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--darkGrey);
}
.data__four_in_a_row,
.data__three_by_three {
  width: 100%;
  display: none;
}
.data__four_in_a_row.active,
.data__three_by_three.active {
  display: block;
}


@media screen and (min-width: 376px) {
  .header__info p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .data__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--spaceXXExtraLarge);
  }
  .data__victories {
    max-width: 300px;
  }
  .data__middleright {
    width: 290px;
  }
  .data__matchs {
    margin-bottom: var(--spaceExtraLarge);
  }
  .games__descriptions,
  .data__descriptions {
    margin-bottom: var(--spaceXXXExtraLarge);
  }
  .footer__wrapper {
    justify-content: space-between;
  }
  .footer__about,
  .footer__contacts {
    width: 51%;
    margin-bottom: 0;
    max-width: 269px;
  }
  .footer__about p,
  .footer__contacts p {
    text-align: left;
  }
  .footer__contacts {
    width: 47%;
    margin-left: 2%;
    max-width: 200px;
  }
  .footer__socials {
    width: 28%;
  }
  .footer__socials p {
    text-align: left;
  }
  .footer__social {
    justify-content: flex-start;
  }
  .footer__left {
    width: 71%;
    display: flex;
  }
  .games__ruler p {
    font-size: 1.3rem;
  }
  .circle {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__information {
    width: 45%;
    justify-content: space-between;
    align-items: flex-end;
  }
  .profile__image {
    margin-bottom: 0px;
    justify-content: flex-start;
    width: 34%;
  }
  .profile__data {
    width: 61%;
  }
  .profile__data p,
  .profile__data h2 {
    text-align: left;
  }
  .profile__data p:last-child {
    margin-bottom: 0;
  }
  .profile__wrapper {
    align-items: flex-end;
    justify-content: space-between;
  }
  .profile__about {
    display: block;
    width: 50%;
  }
  .profile__about p,
  .profile__about h3 {
    width: 100%;
    font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    text-align: right;
  }
  .profile__about h3 {
    margin-bottom: var(--spaceSmall);
  }
  .games__plays {
    display: none;
  }
  .games__time {
    width: 100%;
    text-align: center;
  }
  .games__time p {
    font-size: 1.5rem;
  }
  .games__arcadeplays {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .games__arcadeplays p {
    width: 100%;
    text-align: center;
    font-size: 3.3rem;
    font-family: 'glacial_indifference_regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--black);;
  }
  .games__arcadeplays p:nth-child(2) {
    font-family: 'glacial_indifference_bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    margin-bottom: var(--spaceMedium);
  }
  .games__box {
    display: flex;
    justify-content: center;
  }
  .games__arcade {
    width: 450px;
    margin: 0 var(--spaceXXExtraLarge);
  }
  .data__wrapper {
    max-width: 800px;
  }
  .footer__contacts {
    margin-left: 100px;
  }
  .footer__about p:first-child,
  .footer__contacts p:first-child {
    font-size: 1.1rem;
  }
  .footer__about p,
  .footer__contacts p {
    font-size: .9rem;
    margin-bottom: var(--spaceMedium);
  }
  .footer__socials p {
    font-size: 1.1rem;
    margin-bottom: var(--spaceMedium);
  }
  .footer__subscribe {
    margin-top: var(--spaceSmall);
  }
  .footer__subscribe button {
    width: 14%;
  }
  .footer__subscribe input {
    width: 82%;
  }
  .circle {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .profile__image {
    width: 28%;
  }
  .profile__data {
    width: 68%;
  }
}
